<html>
	<head>
		<script language="javascript" src="RockPaperScissorsLizardSpok/rockpaperscissorslizardspok/javascript/lib/RockPaperScissorsLizardSpok.js" ></script>
	Rock Paper Scissors Lizard Spock Game.
		<body #new-game>
			Make your setting, please.	
		
					<form action="">
			<select name="setting">
			<option value="rock">Rock</option>
			<option value="paper">Paper</option>
			<option value="Scissors">Scissors</option>
			<option value="Lizard">Lizard</option>
			<option value="Spock">Spock</option>
			</select>
			<input type="submit" value="Play">
			</form>
		</body>
	</head>
</html>


		

