<html>
	<head>
		<script language="javascript" src="RockPaperScissorsLizardSpok/rockpaperscissorslizardspok/javascript/lib/RockPaperScissorsLizardSpok.js" ></script>
	<title>Rock Paper Scissors Lizard Spock Game.</title>
	<link rel="stylesheet" type="text/css" href="/css/application.css">
	</head>
		<body #new-game>
		<h1>	Make your setting, please.</h1>	
		
					<form action="">
			<select name="setting">
			<option value="rock">Rock</option>
			<option value="paper">Paper</option>
			<option value="Scissors">Scissors</option>
			<option value="Lizard">Lizard</option>
			<option value="Spock">Spock</option>
			</select>
			<input type="submit" value="Play">
			</form>
		</body>
</html>


		

