body {
      font-family: 'Helvetica Neue';
      margin: 15px 0 0 30px;
      background-image:url('./img/galaxy.jpg');
    }

.choices {
	text-align: center;
  	margin-left: auto;
  	margin-right: auto;
}    
.choices img {
	height: 150px;
	color: white;
	font-family: Helvetica;
	font-weight:400;
	background-color: white;
	border-radius: 10px;
	text-decoration: none;
	padding: 0.5em 0.7em;
	opacity: 1;
}

h1{
     font-size: 30px;
     font-weight: 800;
     font-family: Helvetica;
     color: white;
     text-align: center;
}

h3{
	color: white;
	margin: 15px 50px;
	font-family: Helvetica;
	font-weight:400;
	background-color: 99FF33;
	border-radius: 10px;
	text-decoration: none;
	
	letter-spacing: 0.1em;
	text-align: center;
	opacity: 1;
}

a:hover {
	opacity: 0.7;
}


button {
	margin-top: 20px;
	color: white;
	font-family: Helvetica;
	font-weight:400;
	background-color: gray;
	border-radius: 10px;
	text-decoration: none;
	padding: 0.5em 0.7em;
	letter-spacing: 0.1em;
	text-align: center;
	opacity: 1;
}

button:hover{
	opacity: 0.7;
}