body {
	text-align: center;
	font-family: Arial;
	background-image:url('http://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Pierre_ciseaux_feuille_l%C3%A9zard_spock_aligned.svg/220px-Pierre_ciseaux_feuille_l%C3%A9zard_spock_aligned.svg.png');
	color: white;
}


h1{
     font-size: 30em;
     font-weight: 800;
     font-family: Helvetica;
}

a{
	color: white;
	font-family: Helvetica;
	font-weight:400;
	background-color: gray;
	border-radius: 10px;
	text-decoration: none;
	padding: 0.5em 0.7em;
	letter-spacing: 0.1em;
	text-align: center;
	opacity: 1;
}

a:hover {
	opacity: 0.7;
}


button {
	margin-top: 20px;
	color: white;
	font-family: Helvetica;
	font-weight:400;
	background-color: gray;
	border-radius: 10px;
	text-decoration: none;
	padding: 0.5em 0.7em;
	letter-spacing: 0.1em;
	text-align: center;
	opacity: 1;
}

button:hover{
	opacity: 0.7;
}